h1 {
  font-family: 'Arial black';
}

h1,
p {
  margin: 0;
  padding: 0;
}

#divTitulo {
  display: flex;
  width: 100%;
}

#divTitulo #texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
}

#divPomodoros {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  #divTitulo {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
  }

  #divTitulo #texto {
    align-items: center;
  }
}